<main>
    <div class="card">
        <div class="summoner-main-informations">
            <img class="summoner-icon" src="{{{ summoner.iconUrl }}}" alt="">
            <div>
                <h2>
                    {{{ summoner.name }}}
                </h2>
                <h5>{{{ summoner.summonerLevel }}}</h5>
            </div>
        </div>
        <p>{{{ summoner.tier }}} {{{ summoner.rank }}}</p>
        <button>Ver partidas</button>
    </div>
</main>